html,body{
	background-image: url('img/forcustomer.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

.content{
	padding-top: 50px;
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}